<form id="saveForm">
    <div class="form-group">
        <label for="dsName">Ticket Sale Start</label>
        <input type="text" class="form-control" id="dsName" />
    </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>