
@model HomeModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <select id="datasetSelector">
    @if(Model.DataSets != null)
    @foreach(string s in Model.DataSets)
    {
        <option value="@s">@s</option>
    }
    </select>
</div>

@section Scripts {
    <script src="~/js/App.js" asp-append-version="true"></script>
}