
@model HomeModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model.DataSets != null) {
    <select id="datasetSelector">

        
            @foreach (string s in Model.DataSets)
            {
                <option value="@s">@s</option>
            }

    </select>
     }
        else
        {
            <h3>no datasets yet</h3>
        }
    <div class="section-container" id="seatingVisuals">
    </div>

@section Scripts {
    <script src="~/js/Templates.js" asp-append-version="true"></script>
    <script src="~/js/SeatingVisualiser.js" asp-append-version="true"></script>
}